

@import "zmienne";
@import "mixins";
@import "general";

// HEADER START 

.my-header {
    @include background-header;
    #header-text {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        transform: translateY(50%);
    }

    h2 {
        font-size: 30px;
        font-style: italic;
        text-align: center;
    }
}


#main-nav {
    height: auto;
    transition: all 0.6s;
    a {
        color: white;
        &:hover {
            color: black;
        }
    }
    .navbar-brand {
        font-style: italic;
    }
}

.scroll {
    background-color: $color-rgba;
}

// HEADER - END - 


//SERVICES- START -

#services {
    margin-top: 50px;
    background-color: white;
    text-align: center;
    h4,
    p {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}


.single-services {
    i.fas {
        height: 80px;
        width: 80px;  
        color: white;
        background-color: $color-blue;
        border-radius: 45px;
        line-height: 80px;
        transition: all 1s;
        &:hover {
            color: $color-blue;
            background-color: white;
            border: 1px solid $color-blue;
            transform: rotate(360deg);
        }
    }
}

//SERVICES - END - 

//PORTFOLIO - START - 

.portfolio {
    background: $background-portfolio;
}

.content-portfolio {
    @include content-portfolio;

    figure {
        @include figure-background;
    }
    .partfolio-image {
        padding-bottom: 30px;
    }

    #figure1 {
        background-image: url("../img/portfolio/box_of_cookies.jpg");
        @include figure-pictures;
    }

    #figure2 {
        background-image: url("../img/portfolio/chaotic_paint.jpg");
        @include figure-pictures;
    }
    #figure3 {
        background-image: url("../img/portfolio/chestnut_on_bracket.jpg");
        @include figure-pictures;
    }
    #figure4 {
        background-image: url("../img/portfolio/child_with_blue_paint.jpg");
        @include figure-pictures;
    }
    #figure5 {
        background-image: url("../img/portfolio/house_with_blue_doors.jpg");
        @include figure-pictures;
    }
    #figure6 {
        background-image: url("../img/portfolio/typing_on_laptop.jpg");
        @include figure-pictures;
    }
}

.portfolio-item {
    .portfolio-image {
        .fas {
            color: white;
            line-height: 250px;
        }
        .overlay {
            height: 250px;
            width: 100%;
            background-color: $color-rgba;
            background-repeat: no-repeat;
            opacity: 0;
            &:hover {
                opacity: 1;
            }
        }
    }
}

 //PORTFOLIO - END - 

// OUR TEAM - START - 

#team {
    height: auto;
    
    .section-header {
        margin-top: 50px;
        text-align: center;
    }
    .social-links {
        @include team-social-links;
        &:hover {
            background-color: $color-blue;
            color: white;
            border: 1px solid white;
        }
    }
}

.team {
    height: auto;
}

.image-circle {
    border-radius: 50%;
    height: 65%;

}

// OUR TEAM - END - 


// CONTACT - START - 

#contact {
    background: url("../img/footer/world-map.jpg");
    height: auto;
    color: white;
    margin-top: 40px;
    padding-top: 50px;
    
    
    .contact-form .contact-form-column {
        height: 220px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        input {
            padding: 10px;
            border-radius: 4px;
        }

        textarea {
            height: 100%;
            width: 100%;
            padding: 10px;
            border-radius: 4px;
        }
    }
}

#submit {
    width: 200px;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
    background-color: $color-blue;
    border: 1px solid $color-blue;
    cursor: pointer;
    transition: all 0.4s linear;
   
    &:hover {
        background-color: white;
        color: $color-blue;
    }
}
 //CONTACT - END -

//FOOTER - START - 

#main-footer {
    height: 50px;
    width: 100%;
    background: black;
    text-align: center;
    position: relative;
    color: white;
    text-align: center;
    .copyright i.fab {
        height: 20px;
        width: 20px;
    }
    .social-links {
        width: 30px;
        height: 30px;
        color: $color-blue;
        text-align: center;
        line-height: 20px;
        font-size: 1.6em;
        line-height: 50px;
        &:hover {
            color: white;
        }
    }


}

//FOOTER - END - 